body {
    padding: 0;
    margin: 0;
    background: rgb(214, 214, 214);
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 7;
}
.menu  {
    list-style: none;
    text-decoration: none;
    top: 25px;
    text-align: right;
}
.menu li {
    margin: 0;
    padding: 15px;
    display: inline;
    line-height: 15px;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
}
.menu a {
    text-decoration: none;
    color: black;
    transition: 1s;
}
.menu a:hover {
    color: tomato;
}
.mb-2 {
    margin: 10px;
    font-family: 'Bree Serif', serif;
}
.white-bg  {
    background: white;
    width: 100%;
    border-radius: 8px ;
    box-shadow: 2px 2px 2px 2px rgb(134, 133, 133);

}
.mb-2 a {
    margin: 0;
    padding: 30px;
    top: 150px;
    font-size: 20px;
}
.mb-2 h2 {
    margin: 0px;
    padding: 30px;
}
.form-group {
    margin: 0px;
    padding: 30px;
}
/*CARD*/ 
.card-img-top {
    position: relative;
    height: 260px;
    border-radius: 8px;
    top: 0;
}
.container {
    position: relative;
    padding: 10px;
}
.card {
    position: relative;
    border-radius: 8px;
    width: 100%;
    height: 400px;
    box-shadow: 2px 2px 2px 2px rgb(134, 133, 133);
    transition: 2s;
}
h6 {
    color: rgb(112, 111, 111);
}
.card:hover{
    transform: scale(1.05);
} /**/
.aciklama {
    background: rgb(255, 107, 81);
    margin: 0px;
    padding: 10px;
    position: relative;
    color: white;
    font-family: 'Bree Serif', serif;
    border-bottom: 2px solid black ;
}
.aciklama img {
    width: 100%;
}
.iconify {
    color: rgb(247, 109, 29);
    width: 35px;
    height: 45px;
} 
.apple {
    position: absolute;
    top: 70%;
    left: 0;
    width: 185px;
    font-size: 14px ;
    border: 1px solid gray;
    border-radius: 5px;
    transition: 1s;
}
.android {
    position: absolute;
    top: 70%;
    left: 30%;
    width: 185px;
    font-size: 14px ;
    border: 1px solid gray;
    border-radius: 5px;
    transition: 1s;
}
.apple:hover {
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    transition: 0.5s;
}
.android:hover {
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    transition: 0.5s;
}
.search-button {
    background: green;
    border: 1px solid green;
    color: white;
    width: 95%;
    border-radius: 5px ;
    transition: 2s;
}
.search-button:hover {
    transform: scale(1.15);
    transition: 2s;
}
.hamburger{
    display: none;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 8;
}
.line {
    width: 30px;
    height: 2px;
    background: black;
    margin: 5px;
    border-radius: 5px;
    transition: all .5s ease-out;
}
.line.activeLine1 {
    transform: translate( 0, 7px) rotate(405deg);
    top: 0;
    transition: all .5s ease-out;
}
.line.activeLine2 {
    opacity: 0;
    transition: all .5s ease-out;
}
.line.activeLine3 {
    transform: translate( 0, -7px) rotate(-405deg);
    transition: all .5s ease-out;
}

.mobile-menu {
    height: 0;
    width: 100vw;
    background: white;
    list-style: none;
    text-align: center;
    overflow: hidden;
    padding: 0;
    z-index: 7;
    left: 0;
}
.mobile-menu li{
    margin: 10px;
}

.mobile-menu li a{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 576px){
    .hamburger{
        display: inline;
    }
    .menu{
        display: none;
    }
    .mobile-menu{
        transition: 1s;
        position: fixed;
    }
    .mobile-menu.active {
        height: 100vh;
        transition: 1s;
    }
}